flow.json
[{"id":"ba1374b2.ec7bb8","type":"tab","label":"IO-202005-OpenID_Connect","disabled":false,"info":""},{"id":"2532e237.80c7fe","type":"debug","z":"ba1374b2.ec7bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":180,"wires":[]},{"id":"a93d7c11.50375","type":"http in","z":"ba1374b2.ec7bb8","name":"ユーザエントリポイント(/login","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":170,"y":120,"wires":[["ba74b26d.3c601"]]},{"id":"ba74b26d.3c601","type":"function","z":"ba1374b2.ec7bb8","name":"(1)ログイン画面ヘ","func":"// Azure ポータルで生成された\n// クライアントIDを 貼り付けます\nvar clientid\n    = {Azure に登録した「アプリケーション（クライアントID)」};\n    \n// ご自身の、https 接続可能な Node-RED 環境の\n// URL を貼り付けます\n// (MS リダイレクトURL ノードのフルパス)\nvar redirectURL\n    = \"https://\" + {Node-RED の実行環境ホスト} + {[MS リダイレクト http in ノードのパス]};\n\n\nvar tenant = \"common\";\n\nmsg.url = \"https://login.microsoftonline.com/\" + tenant + \n \"/oauth2/authorize\";\n \nmsg.method = \"GET\";\nmsg.statusCode = 303;\nmsg.headers = {\n    location : \n    msg.url + \n    \"?client_id=\" + clientid + \n    '&response_type=id_token' + \n    '&redirect_uri=' + encodeURIComponent(redirectURL) + \n    '&scope=openid' + \n    '&nonce=test_node_red' + \n    '&response_mode=form_post' + \n    '&state=TEST_LOGIN_STATE'\n};\nmsg.payload = {};\nreturn msg;\n","outputs":1,"noerr":4,"x":430,"y":120,"wires":[["6cb3c2b.ff2c73c"]]},{"id":"6cb3c2b.ff2c73c","type":"http response","z":"ba1374b2.ec7bb8","name":"","statusCode":"","headers":{},"x":610,"y":240,"wires":[]},{"id":"9ad9a04d.3207","type":"http in","z":"ba1374b2.ec7bb8","name":"MS リダイレクトURL(/node/app","url":"/node/app","method":"post","upload":false,"swaggerDoc":"","x":170,"y":180,"wires":[["7a16bfcc.8ec44"]]},{"id":"7a16bfcc.8ec44","type":"function","z":"ba1374b2.ec7bb8","name":"(2)JWT 展開","func":"var base64Url = msg.payload.id_token.split('.')[1];\nvar base64 = base64Url.replace('-', '+').replace('_', '/');\nvar buf = new Buffer(base64, 'base64').toString();\n\nmsg.payload = JSON.parse(buf);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":180,"wires":[["2532e237.80c7fe","831f119f.98086"]]},{"id":"36841bad.606484","type":"comment","z":"ba1374b2.ec7bb8","name":"ユーザの名前取得","info":"","x":130,"y":80,"wires":[]},{"id":"831f119f.98086","type":"template","z":"ba1374b2.ec7bb8","name":"トップページ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ようこそっ！ {{payload.name}} さん!","output":"str","x":440,"y":240,"wires":[["6cb3c2b.ff2c73c"]]}]
